@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <h1>Red or White</h1>
    
    <p class="lead">
        @*Wine [wahyn] noun 1-the fermented juice of grapes, made in many varieties, such as red, white, sweet, dry, still, and sparkling, for use as a beverage, in cooking, in religious rites, etc., and usually having an alcoholic content of 14 percent or less.*@
    Vino, vinho, वाइन, fíon, du vin, ワイン... wine. No matter how you say the word...choosing a wine can be a difficult decison.
    Red or White helps you by simply sending one of each. No need to decide.
</p>
<p>Just enjoy (in any language).</p>
<p><a href="http://asp.net" @*class="btn btn-primary btn-lg">See our Wines &raquo;*@</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome To Red or White</h2>
        <p>
            We have multiple plans so you don't have to worry about commitment.  You can pay as you go, semi-annually, or annually.  It's up to you.
        </p>
        <p><a class="btn btn-default" href="~/Views/Subscriptions/Create.cshtml">See Subscriptions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Become a wine enthusiast</h2>
        <p> Learn more about wine, the grapes, the regions and more...
        <p><a class="btn btn-default" href="http://www.wineenthusiast.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon...?</h2>
        <p>We're building every day</p>
        <p><a class="btn btn-default" href="https://winewankers.com/2014/01/21/a-collection-of-fun-wine-images/">Click...if you dare &raquo;</a></p>
    </div>
</div>